#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ffffff; /* Change to the desired color */
  text-shadow: 0 0 10px #ffffff;
}

.main-content {
  flex-grow: 1;
  margin-bottom: 4em;
}

.footer {
  display: flex;
  width: 100%;
}
